@import "../../styles/branding.scss";

.hw_page {
    position: relative;
    background-color: #ffffff;
    width: calc(100%);

    background-color: #ffffff;
    &--dark {
        background-color: #47747c;
    }

    .hw_heading {
        &--dark {
            color: $color-primary-light;
        }
    }
    
    .hw_paragraph {
        &--dark {
            color: $color-primary-light;
        }
    }
    
    .hw_hashlink {
        &--dark, &--light {
            color: $color-secondary !important;
        }
    }
    
    .hw_list {
        &--dark, &--light {
            ::marker { color: $color-secondary; }
        }
    }
    .hw_header {
        .hw_navlink {
            &--active {
                color: $color-primary-light !important;
                svg { border-color: $color-primary-light !important;}
                .hw_svgicon__fill { fill: $color-primary-light !important;}
            }
        }
        &--dark {
            background-color: $color-primary-dark;
            color: $color-primary-light;
            .hw_navlink { 
                color: $color-primary-light !important;
                svg { border-color: $color-primary-light !important;}
                .hw_svgicon__fill { fill: $color-primary-light !important;}
                &--active {
                    color: $color-secondary !important;
                    svg { border-color: $color-secondary !important;}
                    .hw_svgicon__fill { fill: $color-secondary !important;}
                }
            }
        }
        .hw_navlink {
            svg {
                margin-top: -1px;
            }
        }
    }
    /* Absolute Top Navigation Menu */
    @media only screen and (max-width: 590px) {
        .hw_header .hw_navigation {
            bottom: -40px;
            justify-content: center;
            left: 0;
            position: absolute;
            width: 100%;

            .hw_navlink {
                &--active {
                    color: $color-secondary !important;
                    svg { border-color: $color-secondary !important;}
                    .hw_svgicon__fill { fill: $color-secondary !important;}
                }
            }
        }
    }
    @media only screen and (max-width: 590px) {
        .hw_main {
            min-height: calc(100vh - 140px);
            padding: 40px 20px 20px;
        }
    }
}

.hw_route {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 65px;
    padding-top: 20px;
}

.hw_logo span {
    font-family: "Delius" !important;
    font-weight: 900;
    color: #ffffff;
    text-shadow: #fff .5px 0px 1px, #fff 0px .5px 1px;
}
.hw_logo img {
    width: 56px;
    height: 43px;
}

.hw_footer {
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.6);
}

.hw_footer__content {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    gap: 40px;
    img {
        aspect-ratio: 1;
        object-fit: contain;
    }

    .hw_icons {
        justify-content: center;
        align-items: center;
    }


    @media only screen and (min-width: 744px) {
        flex-direction: row;
        gap: 60px;
        width: fit-content;
        margin: auto;
        .hw_poweredby, .hw_socialmedia {
            width: calc(50% - 60px);
        }
        .hw_socialmedia {
            margin-top: 0;
            margin-bottom: auto;
        }
    }

    .hw_poweredby, .hw_socialmedia {
        .hw_heading {
            letter-spacing: 4px;
        }
        cursor: default;
        -webkit-user-drag: disabled;
        user-select: none;
        img {
            -webkit-user-drag: none;
        }
    }

    .hw_poweredby {
        img {
            width: 40px;
        }
    }
    .hw_socialmedia {
        img {
            width: 52px;
            cursor: pointer;
            transition: transform .15s;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }

}