@import "../../styles/branding.scss";

.hw_voluntarywork {
    &__section {
        width: calc(25% - 30px);
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .hw_paragraph {
        font-size: 21px;
        line-height: 24px;
    }
    &__sections {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__image {
        width: calc(100%);
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }
    &__split {
        position: relative;
        display: flex;
        width: 100%;
        gap: 12px;
        flex-basis: 0;
        .hw_button, span {
            display: block;
            width: 100%;
            &:hover, &:active {
                transform: scale(1) !important;
                svg {
                    top: calc(3px);
                }
            }
        }
        svg {
            &:hover, &:active {
                transform: scale(0.9) !important;
                top: calc(3px);
            }
        }
    }
    &__spliticon {
        position: absolute;
        z-index: 3;
        left: 5px;
        top: calc(13px);
        transform: scale(0.9);
    }
    &__split {
        margin-top: auto;
        padding-top: 10px;
        a.hw_button {
            width: calc(100% - 60px);
            padding-left: 45px;
            padding-right: 15px;
            justify-content: start;
            &:hover {
                transform: scale(1) !important;
            }
        }
    }


    .hw_button--cta {
        background-color: $color-secondary;
        color: $color-primary-light;
        &:hover {
            transform: scale(1.03);
        }
    }
    
    h2.hw_heading {
        height: 64px;
        align-content: center;
        line-height: 1.7rem;
    }

    &__section {
        &:nth-of-type(2) {
            .hw_button--cta {
                background-color: rgb(255, 98, 98) !important;
            }
        }
    }

    /* Small Mobile */
    @media only screen and (max-width: 480px) {
        &__section {
            width: calc(100%);
        }
        &__split {
            flex-direction: column;
            a.hw_button {
                width: calc(100% - 50px);
                padding-left: 40px;
            }
            .hw_button--cta {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    /* Large Mobile */
    @media only screen and (min-width: 480px) {
        &__section {
            width: calc(50% - 10px);
        }
    }

    /* Tablet */
    @media only screen and (min-width: 768px) {
        &__section {
            width: calc(50% - 20px);
        }
    }

    /* Desktop */
    @media only screen and (min-width: 1440px) {
        &__section {
            width: calc(25% - 40px);
        }
    }
    

}