.hw_main {
    background: linear-gradient(#FF7CC4, #ff6767);
    padding: 50px 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 380px) {
        padding: 30px 10px 0 10px;
    }
    //@media only screen and (min-width: 1440px) {
    //    flex-direction: row;
    //    justify-content: center;
    //    gap: 80px;
    //}

    /* Header Section */
    &__title { 
        text-align: center;
    }
    &__charhead {
        width: 100px;
    }
    &__subtitle { 
        width: 70%;
        text-align: left;
        font-weight: 900;
    }

    &__bg {
        position: absolute;
        bottom: -80px;
        max-height: 500px;
        left: -300px;

        @media only screen and (max-width: 1280px) {
            display: none;
        }
    }

    &__top {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 840px;
        margin: 0 auto;
        justify-content: center;
        @media only screen and (max-width: 480px) {
            gap: 10px;
        }
        @media only screen and (max-width: 740px) {
            max-width: 450px;
        }
        padding-bottom: 20px;
    }
    &__topsection {
        position: relative;
        width: calc(33% - 6px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media only screen and (min-width: 480px) {
            width: calc(33% - 12px);
            max-width: 135px;
        }
        @media only screen and (min-width: 740px) {
            width: calc(20% - 16px);
        }
    }
    &__navtitle {
        font-size: 19px;
        font-weight: 600;
        letter-spacing: -2px;
        @media only screen and (min-width: 480px) {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -1.2px;
        }
    }
    &__navimage {
        display: block;
        margin: auto;
        min-height: 100px;
        max-width: 100%;
        @media only screen and (max-width: 380px) {
            height: 50px;
            min-height: unset;
        }
    }
    &__navbutton {
        border-radius: 6px;
        background-color: #FF8CB7;
        &--active {
            background-color: #f5a525;
        }
        @media only screen and (max-width: 380px) {
            padding: 10px;
        }
    }
}