.hw_main {
    background: linear-gradient(#FF7CC4, #ff6767);
    padding: 50px 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    //@media only screen and (min-width: 1440px) {
    //    flex-direction: row;
    //    justify-content: center;
    //    gap: 80px;
    //}

    /* Header Section */
    &__header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__headersplit {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        max-width: 440px;
        margin: 0 auto;
    }
    &__title { 
        text-align: center;
    }
    &__charhead {
        width: 100px;
    }
    &__subtitle { 
        width: 70%;
        text-align: left;
        font-weight: 900;
    }

    /* Top Section */
    &__top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 840px;
        margin: 0 auto;
        justify-content: center;
        //@media only screen and (min-width: 1440px) {
        //    margin: 0;
        //}
    }
    &__topsection {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media only screen and (min-width: 480px) {
            width: calc(33% - 12px);
        }
        @media only screen and (min-width: 740px) {
            width: calc(20% - 16px);
        }
    }
    &__navtitle {
        font-size: 21px;
        font-weight: 900;
        @media only screen and (min-width: 480px) {
            font-size: 23px;
            line-height: 26px;
            letter-spacing: -1.2px;
        }
    }
    &__navimage {
        display: block;
        margin: auto;
        min-height: 100px;
        max-width: 100%;
    }
    &__navbutton {
        border-radius: 6px;
        background-color: #FF8CB7;
        &--active {
            background-color: #72dfd0;
        }
    }

    /* Bottom Section */
    &__bottom {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
        background-color: white;
        min-height: 200px;
        width: calc(100vW - 16px);
        margin-left: -15px;
        padding: 50px 0;
    }
}