.hw_top {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .hw_section__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 150px;
        font-weight: 900;
        text-align: center;
        transition: transform .15s;
        cursor: pointer;
        user-select: none;
        img {
            -webkit-user-drag: none;
            height: 100px;
        }
        &:hover {
            transform: scale(1.08);
        }
        &:active {
            transform: scale(0.92);
        }
        .hw_button {
            background-color: #FF8CB7;
            border-radius: 6px;
        }
        &--active {
            cursor: default;
            .hw_button {
                background-color: #72C3BC;
                border-radius: 6px;
            }
            &:hover {
                transform: scale(1.0);
            }
            &:active {
                transform: scale(1.0);
            }
        }
    }

    @media only screen and (max-width: 1440px) {
        gap: 20px;
    }
    @media only screen and (max-width: 768px) {
        gap: 10px;
        .hw_section__download {
            display: none;
        }
        .hw_section__item {
            width: 130px;
        }
    }

}