.hw_logo {
    position: relative;
    display: flex;
    height: 50px;
    flex-direction: row;
    gap: 6px;
    font-weight: 900;
    align-items: center;
    align-self: center;
    padding-left: 6px;
    user-select: none;
    transition: transform 0.15s;
    cursor: pointer;
    
    &__text {
        color: #FFFDFB;
    }
    
    &__image {
        height: 100%;
        -webkit-user-drag: none;
    }

    &:hover {
        transform: scale(1.08);
    }

    &:active {
        transform: scale(0.92);
    }
}

