.hw_images {

    &__section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media only screen and (min-width: 740px) {
            gap: 16px;
        }
    } 

    &__title {
        @media only screen and (max-width: 480px) {
            letter-spacing: -2.1px;
            font-size: 40px;
            line-height: 42px;
        }
    }

    &__heading {
        text-align: left;
        @media only screen and (min-width: 1440px) {
            font-size: 50px;
            line-height: 50px;
        }
    }

    &__text {
        text-align: left;
        @media only screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 26px;
            .hw_text {
                font-size: inherit;
                line-height: inherit;
            }
        }
    }

}