.hw_trackmania {
    position: relative;
    background: rgb(255, 255, 255);

    .hw_heading, .hw_text, a {
        color: #242424 !important;
    }

    &__title {
        text-align: center !important;
        padding-bottom: 20px;
    }
    .hw_section__detailsinner {
        max-width: 500px;
    }
    &__club {
        display: flex;
        flex-direction: row;
        gap: 20px; 
        img {
            width: 100px;
        }
    }
    &__rank {
        display: flex;
        flex-direction: row;
        gap: 20px; 
        align-items: center;
        img {
            width: 200px;
        }
    }
    .hw_heading--xlarge {
        padding-bottom: 16px;
    }
    &__transition {
        z-index: 99;
        width: 100vW;
        margin-left: -40px;
        margin-top: -57px;
        margin-bottom: 30px;
        height: 160px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    &__map {
        position: relative;
        width: 500px;
        img {
            width: 500px;
            border-radius: 12px;
            margin-left: -10px;
        }
        .hw_paragraph, a {
            opacity: 0.9;
            background-color: black;
            .hw_text { color: white !important; }
            width: 462px;
            padding: 5px 10px;
            position: absolute;
            top: 0;
            left: -2px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        a {
            top: unset;
            left: unset;
            text-align: center;
            bottom: 30px;
            right: 30px;
            width: 200px;
            border-radius: 12px;
            transition: transform .2s;
            &:hover {
                transform: scale(1.05);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
    
    &__skin {
        position: relative;
        width: 500px;
        img {
            width: 500px;
            border-radius: 12px;
            margin-left: -10px;
        }
        .hw_paragraph, .hw_link {
            .hw_text { color: black !important; }
            background-color: white;
            opacity: 0.9;
            width: 462px;
            padding: 5px 10px;
            position: absolute;
            top: 0;
            left: -2px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        .hw_link {
            top: unset;
            left: unset;
            text-align: center;
            bottom: 30px;
            right: 30px;
            width: 200px;
            border-radius: 12px;
        }
    }
}

