@import "../../styles/branding.scss";

.hw_home {
    &__teasercontent {
        text-align: center;
        padding-bottom: 0 !important;
    }
    .hw_image {
        aspect-ratio: 1/1;
        height: 100%;
        margin: auto 0;
    }
    .hw_heading--alt {
        text-align: left;
        @media only screen and (max-width: 490px) {
            width: 200px;
        }
    }
    .hw_section--alt {
        margin: auto;
    }
    // Button Stylings
    .hw_button--alt, .hw_button--main {
        border-radius: 120px;
        font-weight: 900;
    }
    .hw_button--main {
        color: white;
        background-color: #7EC7CC;
    }
    .hw_button--alt {
        background-color: #FF8D50;
        color: white;
    }

    &__charity {
        .hw_image {
            
        }
    }

    &__three {

        h2 {
            line-height: 43px;
        }

        &img {
            margin: 0 auto !important;
            justify-self: center;
            width: 100%;
            height: min-content !important;
            aspect-ratio: 4/2 !important;
            border-radius: 8px;
            object-fit: cover;
        }
        @media only screen and (min-width: 744px) {
            margin: 0 -40px;
            &child {
                width: calc(33% - 5px);
                
                .hw_section--alt {
                    margin-bottom: 0;
                    margin-top: 0;

                    img {
                        width: 40px;
                        height: 40px;
                        aspect-ratio: 1/1;
                    }
                }

                .hw_button {
                    margin-top: auto;
                }
            }
        }
        @media only screen and (max-width: 744px) {
            &child { 
                width: calc(50% - 5px);
            }
        }
        @media only screen and (max-width: 480px) {
            &child { 
                width: calc(100% - 5px);
            }
        }
    }
}